.bgcolor-eggplant {
    background-color: #493843;
}

.bgcolor-ash {
    background-color: #A0B2A6;
}

.bgcolor-zomp {
    background-color: #61988E;
}

.bgcolor-platinum {
    background-color: #E4DEDC;
}