<div class="container">
    <h1 class="pt-5">
        Enter a park name
    </h1>
    <form class="" action="/{{data.trip_id}}/edit/{{data.day_id}}" method="post">

        <input class="form-control w-25 " type="text" name="park_name" id="park_name" required>
        <button class="btn btn-primary my-2">Submit</button>

    </form>

</div>


