<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Trip Name</th>
                <th scope="col">Trip Date</th>
                <th scope="col">Duration</th>
                <th scope="col">Progress</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>{{data.trip_title}}</td>
                <td>{{data.start_data}}</td>
                <td>{{data.number_of_days}}</td>
                <td>{{data.trip_progress}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
