{{!-- {{>message}} --}} 

<form class="mx-5 mt-3" action="/login" method="post">
    <div>
        <p>Username</p>
        <input class="form-control w-25" type="text" name="username" id="username">
        <p>Password</p>
        <input class="form-control w-25" type="password" name="password" id="password">
        <button class="btn btn-primary mt-3" type="submit">Login</button>

        <p>Don't have an account? <a href="/register">Register</a></p>
    </div>
</form>